<div id='test_dom'>
<table>
<thead>
{{#each theadArray as |trObject|}}
  <tr>
  {{#each trObject as |thObject|}}
  <th colspan={{thObject.colspan}} rowspan={{thObject.rowspan}} class={{thObject.className}}>{{thObject.textContent}}</th>
  {{/each}}
  </tr>
{{/each}}
</thead>
<tbody>
{{#each tbodyArray as |trObject|}}
  <tr>
  {{#each trObject as |tdObject|}}
  <td colspan={{tdObject.colspan}} data-value={{tdObject.data-value}} rowspan={{tdObject.rowspan}} class={{tdObject.className}} onclick={{action 'clickCallBack' tdObject.i tdObject.j}}>{{tdObject.textContent}} </td>
  {{/each}}
  </tr>
{{/each}}

</tbody>
</table>
</div>